*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
// .container{
//     .parent{
//         width: 300px;
//         height: 300px;
//         background-color: aqua;
//         display: flex;
//         gap:10px;
//         justify-content: flex-start;
//         align-items: center;

//     }
    // .child{
    //     width: 100px;
    //     height: 100px;
    //     background-color: red;

        
    // }
    
// }
.navigation{
    background-color: blue;
    .nav{
        display: flex;
        gap: 10px;
        justify-content: flex-end;
        text-transform: uppercase;
        li{
            padding: 10px;
            position: relative;
        }
        a{
            color: #fff;
            text-decoration: none;
            &:hover{
                color: red;
            }
        }
        ul{
            position: absolute;
            width: 100px;
            background-color: yellow;
            top: 40px;
            
        }
        li{
        &:hover{
             ul{
            display: block;
        }
        
        }
    }
        
    }
}