*{
    margin: 0;
    padding: 0;
    
}
.container{
    background-color: grey;
    >ul{
        list-style: none;
        display: flex;
        justify-content:flex-end;
        padding: 10px;
        li{
            position: relative;
            list-style: none;
            
            a{
                text-decoration: none;
                color: white;
                padding: 10px;
                text-transform: uppercase;
                &:hover{
                    color:blue;
                    cursor: pointer;
                }
                
            }
            ul{
                position: absolute;
                background-color: pink;
                width: 80px;
                top: 30px;
                display: none;
            }
            &:hover{
                ul{
                    display: block;
                }
            }
            
        }
    }
}
